<p id="notice"><%= notice %></p>

<h1>Sensors</h1>

<div class="sensors">
  <% @sensors.each do |sensor| %>
    <div class="sensor">
      <h4><%= link_to sensor.name, sensor %></h4>
      <div class="values">
        <div class="temperature">
          12.62<span>°C</span>
        </div>
        <div class="pressure">
          1013.35<span>hPa</span>
        </div>
        <div class="humidity">
          53.36<span>%</span>
        </div>
      </div>
    </div>
  <% end %>
</div>
