// Place all the styles related to the Sensors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';
@import 'foundation';

// $callout-margin: 0.5rem;
// $column-gutter: rem-calc(30);
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);

@mixin weather-box(){
  text-align: center;
  line-height: rem-calc(32);
  .value{
    font-size: rem-calc(32);
  }
  .unit{
    font-size: rem-calc(12);
    vertical-align: super;
  }
}

.sensors{
  @include flex-grid-row;
  div.sensor:nth-last-child(1) {
    float: left;
  }
  .sensor{
    @media #{$small-up} {
      @include flex-grid-column(12, 20px);
    }
    @media #{$medium-up} {
      @include flex-grid-column(4, 20px);
    }
    @media #{$large-up} {
      @include flex-grid-column(3, 20px);
    }
    .information{
      @include callout(#FFF);
      padding: 0px;
      h4{
        font-size: rem-calc(18);
        padding: 0.5em;
        margin: 0px;
      }
      .values{
        @include weather-box;
        background-color: $warning-color;
      }
    }
  }
  .sensor:nth-last-child(1) {
    float: left !important;
  }
}

.temperature-box{
  @include callout();
  @include weather-box;
  background-color: rgba(255, 99, 132, 0.5);
}
.pressure-box{
  @include callout();
  @include weather-box;
  background-color: rgba(54, 162, 235, 0.5);
}
.humidity-box{
  @include callout();
  @include weather-box;
  background-color: rgba(255, 206, 86, 0.5);
}
